@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: theme('colors.black');
  font-family: 'Inter', sans-serif;
}

div {
  color: theme('colors.white');
}

.typography {
  margin: 0 auto;
  max-width: 70rem;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

button {
  background-color: #c60e34;
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  transition: background-color .3s ease, gap .3s ease;

  &:hover {
    background-color: #a00b2a;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

a:hover {
  text-decoration: underline;
}

.container {
  background-color: #1f2937;
  border: 2px solid rgb(75, 85, 99);
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 100% !important;
  max-width: none;
}

.input-container {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  gap: 0.5rem;

  label {
    width: 25%;
  }
  input, textarea {
    width: 75%;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgb(75, 85, 99); 
    resize: none;

    transition: background-color .3s ease;

    &:focus, &:active {
      outline: none;
      background-color: darken(rgb(75, 85, 99), 5%);
    }
  }
  textarea {
    height: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .input-container {
    flex-direction: column;

    label, input, textarea {
      width: 100%;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}